<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reporte de Quejas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="matricula"
       type="text" placeholder="Escriba aquí" label="Ingrese correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="queja"
       type="text" placeholder="Escriba aquí" label="Descripción de la Queja"></ion-input>
    </ion-item>
  </ion-list>


  <ion-button expand="full" color="primary" (click)="enviarQueja()">
    Enviar Queja
  </ion-button>
</ion-content>
