<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Icono para abrir el menú lateral -->
    </ion-buttons>
    <ion-title>
      Reporte de quejas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="matricula"
        type="text" placeholder="Escriba aquí" label="Ingrese correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="queja"
        type="text" placeholder="Escriba aquí" label="Descripción de la Queja"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Contenedor para el botón centrado -->
  <div class="button-container">
    <button class="custom-button" (click)="enviarQueja()">
      Enviar Queja
    </button>
  </div>
</ion-content>
