<ion-header>
  <ion-toolbar>
    <!-- Ícono de hamburguesa dentro de ion-buttons -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ userName || 'Usuario' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ userExtraData?.email }}</p>
      <p>Tipo: {{ userExtraData?.tipo }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><ion-icon name="globe-outline"></ion-icon> {{ userLanguage || 'Español' }}</p>
      <p><ion-icon name="location-outline"></ion-icon> {{ userTrips || 0 }} Viajes Realizados</p>
      <div class="rating">
        <ion-icon name="star"></ion-icon>
        <span>{{ userRating || 0 }} ★</span>
      </div>
      <span>{{ userYears || 0 }} Años en la plataforma</span>
    </ion-card-content>
  </ion-card>
</ion-content>
