<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Icono para abrir el menú lateral -->
    </ion-buttons>
    <ion-title>Detalles Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Conductor</ion-card-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ userEmail }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Kilómetros Recorridos:</ion-label>
        <ion-text>{{ totalKilometers }} km</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Viajes Recientes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let trip of trips">
          <ion-label>
            <h2>Viaje {{ trip.id }}</h2>
            <p>Destino: {{ trip.destination }}</p>
            <p>Fecha: {{ trip.date | date:'shortDate' }}</p>
            <p>Kilómetros: {{ trip.kilometers }} km</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
