<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background" scrollY="false">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center title">Recupere su contraseña:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="recoveryPassword()">
        <!-- Campo de correo -->
        <ion-item>
          <ion-icon slot="start" name="mail" class="input-icon"></ion-icon>
          <ion-input
            type="email"
            placeholder="example@duocuc.cl"
            name="email"
            [(ngModel)]="email"
            label="Correo Electrónico"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        
        <ion-text color="danger" *ngIf="email && !email.includes('@')">
          El correo electrónico debe ser válido.
        </ion-text>

        <!-- Botón de recuperar contraseña -->
        <div class="link-container">
          <button class="styled-button recover-button" type="submit">Recuperar contraseña</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
