<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Icono para abrir el menú lateral -->
    </ion-buttons>
    <ion-title>Confirmar Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let conductor of conductores; let i = index" 
              [ngClass]="{'confirmed': conductor.confirmed, 'fade-in-up': true}"
              class="conductor-item">
      <ion-label>
        <div *ngIf="!conductor.editing">
          <h2>{{ conductor.fullName }}</h2>
          <p>Teléfono: {{ conductor.phone }}</p>
          <p>Licencia: {{ conductor.licenseNumber }}</p>
          <p>Matrícula: {{ conductor.plateNumber }}</p>
          <p>Vehículo: {{ conductor.vehicleBrand }} - {{ conductor.vehicleModel }}</p>
        </div>
        <div *ngIf="conductor.editing">
          <ion-input [(ngModel)]="conductor.fullName" placeholder="Nombre"></ion-input>
          <ion-input [(ngModel)]="conductor.phone" placeholder="Teléfono"></ion-input>
          <ion-input [(ngModel)]="conductor.licenseNumber" placeholder="Licencia"></ion-input>
          <ion-input [(ngModel)]="conductor.plateNumber" placeholder="Matrícula"></ion-input>
          <ion-input [(ngModel)]="conductor.vehicleBrand" placeholder="Marca"></ion-input>
          <ion-input [(ngModel)]="conductor.vehicleModel" placeholder="Modelo"></ion-input>
        </div>
      </ion-label>
      <div class="button-group">
        <ion-button (click)="editarConductor(i)">
          {{ conductor.editing ? 'Guardar' : 'Editar' }}
        </ion-button>
        <ion-button *ngIf="!conductor.editing && !conductor.confirmed" (click)="showAlert(conductor, i)" class="confirm-button">
          Confirmar
        </ion-button>
        <ion-button *ngIf="!conductor.editing && !conductor.confirmed" (click)="showRejectAlert(conductor, i)" class="reject-button">
          Rechazar
        </ion-button>
        <ion-icon *ngIf="conductor.confirmed" name="checkmark-circle" color="success"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
