.conductor-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-button {
  margin-bottom: 8px; /* Espaciado entre botones */
}