<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background" scrollY="false">
  <div class="login-container">
    <ion-card-header>
      <ion-card-title class="ion-text-center title">Ingrese sus credenciales:</ion-card-title>
    </ion-card-header>

    <ion-card-content [formGroup]="loginForm">
      <ion-item>
        <ion-icon slot="start" name="mail" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="emailValue"
          formControlName="email"
          type="email"
          placeholder="Correo Electrónico"
          label="Correo Electrónico"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('required')" class="error-text">
        El email es requerido.
      </ion-text>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('email')" class="error-text">
        El email es inválido.
      </ion-text>

      <ion-item>
        <ion-icon slot="start" name="lock-closed" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="passValue"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          label="Contraseña"
          labelPlacement="floating"
        ></ion-input>
        <ion-button slot="end" (click)="togglePasswordVisibility()" fill="clear">
          <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('required')" class="error-text">
        La contraseña es requerida.
      </ion-text>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')" class="error-text">
        La contraseña debe tener al menos 6 caracteres.
      </ion-text>

      <div class="link-container">
        <button class="styled-button login-button" (click)="login()">Ingresar</button>
      </div>
      <div class="link-container">
        <button class="styled-button register-button" routerLink="/register">Registrarse</button>
      </div>

      <!-- Enlace "Olvidaste tu contraseña" más cerca -->
      <div class="link-container forgot-password-container">
        <a routerLink="/reset-contra" class="styled-link forgot-password">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="social-buttons">
        <ion-icon name="logo-google" class="social-icon" (click)="loginWithGoogle()"></ion-icon>
        <ion-icon name="logo-github" class="social-icon" (click)="loginWithGithub()"></ion-icon>
      </div>

      <div class="link-container create-user-container">
        <a class="styled-link create-user-button" (click)="createUsuario()">Crear Usuario</a>
        <span class="separator"> | </span>
        <a class="styled-link create-driver-button" (click)="createConductor()">Crear Conductor</a>
      </div>
    </ion-card-content>
  </div>
</ion-content>
