<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background" scrollY="false">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center title">Ingrese sus datos:</ion-card-title>
    </ion-card-header>

    <ion-card-content [formGroup]="loginForm">
      <!-- Campo de correo -->
      <ion-item>
        <ion-icon slot="start" name="mail" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="emailValue"
          formControlName="email"
          type="email"
          label="Correo Electrónico"
          labelPlacement="floating"
          placeholder="Ej: admin@admin.cl"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('required')">El email es requerido.</ion-text>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('email')">El email es inválido.</ion-text>

      <!-- Campo de contraseña -->
      <ion-item>
        <ion-icon slot="start" name="lock-closed" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="passValue"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ej: admin123"
        ></ion-input>
        <ion-button slot="end" (click)="togglePasswordVisibility()" fill="clear">
          <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida.</ion-text>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</ion-text>

      <!-- Botón de registrarse -->
      <div class="link-container">
        <button class="styled-button register-button" (click)="register()">Registrarse</button>
      </div>

      <!-- Enlace para iniciar sesión -->
      <div class="link-container">
        <a routerLink="/login" class="styled-link">¿Ya tienes cuenta? Iniciar sesión</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
