
.custom-input {
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 4px;
}

.form-note {
  margin: 16px 0;
}

.qr-button {
  margin-top: 16px;
}
ion-card{
  margin-top: 30px;
}
.logo {
  display: block;
  margin: 5px auto; /* Centra la imagen y añade un margen superior e inferior */
  width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-top: 35px;
}
