<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <div class="perfil-header">
      <ion-img class="perfil-img" src="assets/icon/eliasJaja.png"></ion-img>
      <div class="perfil-info">
        <h2>Elias Alcaide</h2>
        <p><strong>Cargo:</strong> Administrador de Sistemas</p>
        <p><strong>RUT:</strong> 29.345.678-9</p>
        <p><strong>Tiempo en la Empresa:</strong> 200 años</p>
      </div>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información Adicional</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>El Señor elias alcaide se dedica a la administracion de la aplicacion rechazando modificando y gestionando problemas.</p>
        <!-- Puedes añadir más información aquí si es necesario -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
