<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Icono de menú -->
    </ion-buttons>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="travel-list-content">
  <!-- Título de bienvenida con el nombre del usuario -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ userName || 'Usuario' }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let trip of trips" class="trip-item">
      <div class="trip-info">
        <div class="trip-start-end">
          <h3 class="trip-start-title">Punto de partida</h3>
          <h3 class="trip-start">{{ trip.startAddress }}</h3>
          <h3 class="trip-end-title">Destino</h3>
          <h4 class="trip-end">{{ trip.endAddress }}</h4>
        </div>
        <div class="trip-details">
          <ion-icon name="person-circle-outline" class="icon-driver"></ion-icon>
          <p class="trip-driver">Conductor: <span>{{ trip.userName || 'Cargando...' }}</span></p>
          <ion-icon name="cash-outline" class="icon-cost"></ion-icon>
          <p class="trip-cost">Costo del Viaje: <span>{{ trip.tripCost | currency:'CLP' }}</span></p>
          <ion-icon name="people-outline" class="icon-seats"></ion-icon>
          <p class="trip-seats">Asientos Disponibles: <span>{{ trip.availableSeats }}</span></p>
        </div>

        <!-- Botón rehacido -->
        <button class="trip-button" (click)="takeTrip(trip)">Tomar viaje</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
