ion-header {
    --background: #007bff;
  }
  
  ion-title {
    color: white;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-input {
    --padding-start: 12px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  